@import helper._

@implicitFieldConstructor = @{
    b3.vertical.fieldConstructor
}

@moreJs = {
    <!-- 追加JS設定  -->
}

@layout.base("Login", moreJs = moreJs, htmlClass = "bg-black", bodyClass = "bg-black") {
    <!-- メインコンテンツ  -->
    <div class="form-box" id="login-box" style="width: 500px;">
        <div class="form-box" id="login-box">
            <div class="header">OptChat</div>
            <form action="../../index.html" method="post">
                <div class="body bg-gray">
                    <div class="form-group">
                        <input type="text" name="userid" class="form-control" placeholder="メールアドレス">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="パスワード">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember_me"> パスワードを保存
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-olive btn-block"><i class="fa fa-sign-in"></i> ログイン</button>

                    <p><a href="#">パスワードを忘れた場合</a></p>

                    <a href="register.html" class="text-center">新規アカウント登録</a>
                </div>
            </form>
        </div>
    </div>
}
