@import helper._
@import models.request.security.Login

@(loginForm: Form[Login])

@implicitFieldConstructor = @{
    FieldConstructor(helper.materialize.materialField.render)
}

@moreJs = {
    <!-- 追加JS設定  -->
}

@layout.base("Login", moreJs = moreJs, htmlClass = "bg-black", bodyClass = "bg-black") {
    <!-- メインコンテンツ  -->
    <div class="form-box" id="login-box" style="width: 500px;">
        <div class="form-box" id="login-box">
            <div class="header">OptChat</div>
            @form(controllers.security.routes.Authentication.authenticate) {
                @CSRF.formField
                <div class="body bg-gray">
                    @if(loginForm.hasGlobalErrors) {
                        @for(valiError <- loginForm.globalErrors()) {
                            <div class="row error-msg">@valiError.message</div>
                        }
                    }
                    <div class="row">
                        @input(loginForm("mail"), 'fclass -> "col s12") { (id, name, value, args) =>
                            <input type="email" name="@name" id="@id" required>
                            <label for="@id">メールアドレス</label>
                        }
                    </div>
                    <div class="row">
                        @input(loginForm("password"), 'fclass -> "col s12") { (id, name, value, args) =>
                            <input type="password" name="@name" id="@id" required>
                            <label for="@id">パスワード</label>
                        }
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn bg-olive btn-block" style="width: 250px; margin: auto;"><span class="fa fa-sign-in"></span>
                        ログイン</button>

                    <p><a href="#">パスワードを忘れた場合</a></p>

                    <p><a href="register.html" class="text-center">新規アカウント登録</a></p>
                </div>
            }
        </div>
    </div>
}
