@import helper._
@import models.request.security.Login

@(loginForm: Form[Login])

@implicitFieldConstructor = @{
    b3.vertical.fieldConstructor
}

@moreJs = {
    <!-- 追加JS設定  -->
}

@layout.base("Login", moreJs = moreJs, htmlClass = "bg-black", bodyClass = "bg-black") {
    <!-- メインコンテンツ  -->
    <div class="form-box" id="login-box" style="width: 500px;">
        <div class="form-box" id="login-box">
            <div class="header">OptChat</div>
            @b3.form(controllers.security.routes.Authentication.authenticate) {
                <div class="body bg-gray">
                    @b3.text(loginForm("mail"), '_label -> null, 'placeholder -> "メールアドレス")
                    @b3.password(loginForm("password"), '_label -> null, 'placeholder -> "パスワード")
                </div>
                <div class="footer text-center">
                    @b3.submit('class -> "btn bg-olive btn-block", 'style -> "width: 250px; margin: auto;") {
                        <span class="fa fa-sign-in"></span> ログイン }

                    <p><a href="#">パスワードを忘れた場合</a></p>

                    <a href="register.html" class="text-center">新規アカウント登録</a>
                </div>
            }
        </div>
    </div>
}
