@import helper._
@import models.request.user.User

@(userForm: Form[User])

@implicitFieldConstructor = @{
    FieldConstructor(helper.materialize.materialField.render)
}

@moreJs = {
    <!-- 追加JS設定  -->
}

@layout.base("Login", moreJs = moreJs, htmlClass = "bg-black", bodyClass = "bg-black") {
    <!-- メインコンテンツ  -->
    <div class="form-box" id="create-box" style="width: 500px;">
        <div class="form-box" id="create-box">
            <div class="header">新しいユーザーを登録</div>
            @form(controllers.user.routes.User.create()) {
                @CSRF.formField
                <div class="body bg-gray">
                    @if(userForm.hasGlobalErrors) {
                        @for(valiError <- userForm.globalErrors()) {
                            <div class="row error-msg">@valiError.message</div>
                        }
                    }
                    <div class="row">
                    @input(userForm("name"), 'fclass -> "col s12") { (id, name, value, args) =>
                        <input type="text" name="@name" id="@id" value="@value" required>
                        <label for="@id">名前</label>
                    }
                    </div>
                    <div class="row">
                        @input(userForm("mail"), 'fclass -> "col s12") { (id, name, value, args) =>
                            <input type="email" name="@name" id="@id" value="@value" required>
                            <label for="@id">メールアドレス</label>
                        }
                    </div>
                    <div class="row">
                        @input(userForm("password"), 'fclass -> "col s12") { (id, name, value, args) =>
                            <input type="password" name="@name" id="@id" required>
                            <label for="@id">パスワード</label>
                        }
                    </div>
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn bg-olive btn-block" style="width: 250px; margin: auto;"><span class="fa fa-user"></span>
                        登録</button>
                </div>
            }
        </div>
    </div>
}
